.cover-img {
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center center;
  min-height: 400px;
  width: 100%;
  position: relative;
}
.cover-img::after {
  position: absolute;
  content: "";
  left: 0;
  top: 0;
  height: 100%;
  width: 100%;
  background-color: rgba(0, 0, 0, 0.4);
  z-index: 0;
}

.cover-content {
  z-index: 1;
  position: relative;
  width: 100%;
  max-width: 600px;
  margin: 0 auto;
}
