@import url("https://fonts.googleapis.com/css2?family=Playfair+Display:wght@500;600;700&family=Public+Sans:ital,wght@0,400;0,500;0,600;0,700;1,400&display=swap");

.playfair-display-semibold {
  font-family: "Playfair Display", serif;
  font-weight: 600;
}

.open-sans-normal {
  font-family: "Public Sans", sans-serif;
  font-weight: 400;
}

.open-sans-semibold {
  font-family: "Public Sans", sans-serif;
  font-weight: 600;
}
