.menu-wrap li a.active {
  position: relative;
}

.menu-wrap li a.active::after {
  position: absolute;
  left: 0;
  bottom: -4px;
  content: "";
  height: 2px;
  width: 100%;
  background: #000000;
}
